<div class="course-grid">
  <a href="/main/course/0 R Language Introduction/page/1 Introduction to R.html" class="btn-link"><button class="chapter-btn">0 R Language Introduction</button></a>
  <a href="/main/course/1 Random Samples/page/1 Random variables.html" class="btn-link"><button class="chapter-btn">1 Random Samples</button></a>
  <a href="/main/course/2 Sufficient Statistic/page/1 Sufficient statistic.html" class="btn-link"><button class="chapter-btn">2 Sufficient Statistic</button></a>
</div>
